" Settings
filetype plugin indent on
syntax on
set nocompatible
set number
filetype off
set rtp+=~/.vim/bundle/Vundle.vim
set autoindent             " Indent according to previous line.
set expandtab              " Use spaces instead of tabs.
set softtabstop =4         " Tab key indents by 4 spaces.
set shiftwidth  =4         " >> indents by 4 spaces.
set shiftround             " >> indents to next multiple of 'shiftwidth'.
set ttyfast                " Faster redrawing.
set lazyredraw             " Only redraw when necessary.

" Text Width ---- gggqG
augroup my_textwidth
au!
autocmd FileType text,markdown,tex setlocal textwidth=80
set formatoptions+=t
augroup END

" Plugins
call plug#begin('~/local/share/nvim/site/autoload/plug.vim')

Plug 'Shougo/deoplete.nvim', { 'do': ':UpdateRemotePlugins' }
Plug 'SirVer/ultisnips'
Plug 'neoclide/coc.nvim', {'branch': 'release'}
Plug 'honza/vim-snippets'
Plug 'ellisonleao/gruvbox.nvim'
Plug 'francoiscabrol/ranger.vim'
Plug 'rbgrouleff/bclose.vim'
Plug 'steelsojka/pears.nvim'
Plug 'ntpeters/vim-better-whitespace'
Plug 'airblade/vim-gitgutter'
Plug 'tpope/vim-surround'
Plug 'Chiel92/vim-autoformat'
Plug 'dylanaraps/wal.vim'
Plug 'nvim-neorg/neorg' | Plug 'nvim-lua/plenary.nvim'
Plug 'ap/vim-css-color'
Plug 'elvessousa/sobrio'

call plug#end()

" ------ Colors

" Pywal
 colorscheme wal

" Gruvbox
" colorscheme gruvbox
